
.flex{
  display: flex;
  justify-content: center;

}
@media only screen and (max-width: 800px) {
  .tabela-customizada {
    font-size: 12px;
  }

}
.m-5 {
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #47b733;
  border-color: #47b733;
}